body{    
    margin: 0;  
    font-family: 'Noto Sans KR', sans-serif;
}

h1, h3, p{
    margin: 0;
}

h4 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 10px;
}

#header {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 2em;
    box-sizing: content-box;
    padding: 4vh 0 4vh 0; 

    z-index: 5;
    transition: 0.2s;
}

#header>.py, #header>.works{
    color: white; 
    max-width: 35%;
    padding-left: 17%;
    display: block;
    flex: 1;
}

.intro-holder, .body-holder, .result-holder {
    margin-bottom: 5vh;
}

.main-container{  
    /* display:flex;       */
    font-size: 1.3rem;
    height: 3000px;    
    padding-top: 100px;
    padding-left: 17%;
    padding-right: 17%;    
    background-color: white;
}

.head-container {
    height: 60vh;
    padding-top: 10vh;
    background: no-repeat center/100% url("../img/coc_head.jpg");
    position: relative;
}

.contents.title {
    margin-left: 17%;
    margin-bottom: 5%;
    position: absolute;
    bottom: 0;
    
    font-size: 3rem;
    font-weight: 800;    
    color: white;
}
.holder-container {
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#horizontal-mul {
    display: flex;
    justify-content: space-between;
    padding-right: 30%;
}

.holder-title {    
    font-weight: 600;
}

.holder-desc {
    margin-left: 1px;
    margin-right: 50px;
}

.tech>.holder-desc {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

.intro-title, .body-title, .result-title {
    font-size: 2rem;
    margin-bottom: 30px;
}

.tech-item {
    font-weight: 400;
}

.tech-item.thumb {
    width: 60px;
    height: 60px;
    background-color: black;
    margin-top: 5px;
    margin-right: 10px;
    flex-shrink: 0;
}

.tech-item.desc {
    
}