body{    
    margin: 0;    
}

h1, h3, p{
    margin: 0;
}

.container{    
    display: flex;
    height: 100vh;
    font-size: 0;
    background-color: gray;
}

.item{
    /* vertical-align: top; */
    font-size: 1rem;
    padding: 5%;
    
}

.item-left{
    text-align: center;     
    width: 30%;
    background-color: khaki;
    outline-style: solid; outline-color: lawngreen; outline-width: 2px;
}

.item-right {    
    text-align: center;
    width: 50%;
    background-color: skyblue;
    outline-style: solid; outline-color: lightcoral; outline-width: 2px;
}
