body{    
    margin: 0;  
    font-family: 'Noto Sans KR', sans-serif;
}

h1, h3, p{
    margin: 0;
}

h4 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 2em;
    box-sizing: content-box;
    padding: 4vh 0 4vh 0; 
    
    z-index: 5;
    transition: 0.2s;
}

#header>.py, #header>.works{
    color: white; 
    max-width: 35%;
    padding-left: 17%;
    display: block;
    flex: 1;
}

#header>.divider {
    flex: 0.5;
}
