/* html {
    overflow: hidden;
} */

body {
    margin: 1vw 1vw 1vw 1vw;
    width: 98vw;
    height: 96vh;
    /* margin: 20px 15px 20px 15px; */
    background-color: white;
    outline-style: solid; outline-color: rgb(0, 39, 145); outline-width: 5vh;
}

h1 {
    margin: 0;
    font-size: 5em;
    color: #585858;
}

h3{
    margin-top: 4em;    
    font-size: 1.5rem;
    display: inline;
    color: #585858;
}

#link-blog {
    margin-left: 30px;
    display: none;
}

p{
    margin:0
}

.container{         
    position: absolute;
    top: 30%;
    left: 50%;  
}

.contents{
    position: relative;
    left: -50%;
}

.link-container {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}