body{    
    margin: 0;    
}

h1, h3, p{
    margin: 0;
}

.container{    
    display: flex;
    height: 100vh;
    font-size: 0;
    align-items: stretch;
    outline-style: solid; outline-color: blue; outline-width: 2px;
    background-color: cornsilk;
}

