body{    
    margin: 0;        
}

h1, h3, p{
    margin: 0;
}

h4 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: white;
}

footer, header {
    position: fixed;
    background-color: rgb(70, 70, 70);
    padding: 3% 10% 6% 10%;    
    color: white;
    font-size: 2em;
}

header {
    left: 0%;
    right: 10%;
    top: 0%;
    z-index: 5;
}

header .py{
    position: absolute;
    display: block;
    color: teal;    
}
header .works {
    position: absolute;
    display: block;
    left: auto;
    right: 10px;
    color: teal; 
}

.main-container{  
    /* display:flex;       */
    height: 3000px;    
    padding-top: 200px;
    padding-left: 15%;
    padding-right: 15%;    
    background-color: rgb(70, 70, 70);
}

.menu {
    display: none;
}

.contents {
    height: 1000px;
}

.item-container .item-cell {
    margin: 0;
    float: left;
    width: 50%;
}

.item-container .item-cell:nth-child(odd) {
    padding-right: 3%;
}

.item-container .item-cell:nth-child(even) {
    padding-left: 3%;
}

.item-cell {   
    position: relative;
    display: block;
    word-wrap: break-word;
    box-sizing: border-box;
}

.item-thumb {
    width: 100%;
}

.caption {
    display: block;

}

.item:hover { 
    background-color: gray;
    transition: ease-in 0.3s;
}